@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

/*header*/
header,
.header.left,
.header.right {
    display: flex;
}

header {
    padding:5px 40px;
    border-bottom: 2px solid;
    background-color: rgb(255, 251, 242);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
}

.header.left {
    margin-right: auto;
    align-items: center;
}

.header.left a {
    display: flex;
}

.header.right {
    font-size: larger;
}

 .header.right a {
    text-decoration: none;
    color: black;
    border-right: 2px solid;
    padding: 15px;
    font-weight: bold;
}

nav a:hover {
    background-color: rgba(23, 11, 0, 0.425);
}

.section.greeting.section {
    padding-top: 80px;
}

h1 {
    font-size: 35px;
}

header .logo {
    border-radius: 25px;
    margin-right:10px;
}

/* main*/

.section {
    background-color: rgb(255, 240, 222);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pair {
    background-color: rgb(255, 251, 242);
}

.greeting-card {
    background-color: rgba(255, 251, 242);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex: 0 1 600px;
    flex-wrap: wrap;
    border: 2px solid;
    box-shadow: 10px 10px rgb(23, 11, 0);
    font-size: 18px;
    margin: 20px 30px;
    align-items: center;
}

.greeting-card .text {
    flex: 1;
}

.greeting-card img {
    border-radius: 20px;
    margin-left: 40px;
    border: 2px solid;
}

/*products*/

.product.section {
    padding: 30px 10px;
}

.product h2 {
    font-size: xxx-large;
    margin-bottom: 20px;
    align-self: start;
    margin-left: 30px;
}

.product.section {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card h3 {
    font-size:xx-large;
    margin-bottom: 10px;
}

.card img {
    border: 2px solid;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card {
    padding: 20px;
    border: 2px solid;
    flex: 0;
    background-color: rgb(255, 240, 222);
    border-radius: 20px;
    box-shadow: 10px 10px rgb(23, 11, 0);
    margin: 12px;
}

/*quote*/

.quote-container {
    flex-basis: 800px;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: rgb(23, 11, 0);
}

.quote-container h3{
    align-self: flex-end;
    font-size: larger;
}

/*contact*/

.contact-container {
    flex-basis: 1000px;
    border: 2px solid;
    border-radius: 5px;
    padding:50px 30px;
    display: flex;
    margin: 40px;
    background-color: rgb(23, 11, 0);
    color: rgb(255, 251, 242);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-container .text {
    margin: 10px 20px;
}

.contact-container h3{
    font-size: larger;
}

.contact-container a{
    color:rgb(255, 251, 242);
    background-color: rgb(23, 11, 0);
    border: 2px solid;
    padding: 8px;
    text-decoration: none;
    margin: 10px 20px;

}

.contact-container a:hover{
    color: rgb(23, 11, 0);
    background-color: rgb(255, 251, 242);

}

/*footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(23, 11, 0);
    font-size: large;
}

footer a {
    color:rgb(255, 251, 242);
    text-decoration: none;
}